.contentContainer {
  max-width: 1120px;
  height: auto;
  margin: 0.5rem auto;
  padding: 0 2rem;
  height: calc(100vh - 5rem);
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}

.hero {
  max-width: 600px;

  h1 {
    font-size: 4rem;
    line-height: 4.5rem;
    font-weight: 900;
    margin-top: 2.5rem;

    span {
      color: var(--cyan-500);
    }
  }

  p {
    font-size: 1.5rem;
    line-height: 2.25rem;
    margin-top: 1.5rem;
    
    span {
      color: var(--cyan-500);
      font-weight: bold;
    }
  }

  button {
    margin-top: 2.5rem;
  }
}

@media (max-width: 1120px) {
  .contentContainer {
    height: auto;
    justify-content: center;
    text-align: center;
    margin: 3rem auto;
    
    img {
      margin: 3rem auto;
    }
  }

  .hero {
    max-width: none;
    order: -1;
    button {
      margin: 2rem auto;
    }
  }
}

@media (max-width: 930px) {
  .contentContainer {
    height: auto;
    justify-content: center;
    text-align: center;
    margin: 1rem auto;
    
    img {
      margin: 3rem auto;
    }
  }
}